<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactar Dra. Angelica</title>
    <link rel="stylesheet" href="dra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="imagenes/Logo.png" alt="Salud Materna" class="logo">
        </div>
        <nav>
            <div class="menu-icon" id="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
            <ul id="nav-menu">
                <li><a href="index.html"><i class="fas fa-home"></i></a></li>
                <li><a href="especialistas.html">Especialistas</a></li>
                <li><a href="consejos.html">Consejos</a></li>
                <li><a href="datos.html">Datos</a></li>
                <li><a href="quienes.html">¿Quiénes somos?</a></li>
                <li><a href="perfil.html" class="search-icon"><i class="fas fa-user"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contact-form">
            <h1>Contactame</h1>
            <h2>Dra. Angelica Resendiz</h2>
            <form action="https://formsubmit.co/doctorespi@outlook.com" method="POST">
                <label for="nombre">Nombre(s):</label>
                <input type="text" id="nombre" name="nombre" placeholder="Janet" required>

                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos" placeholder="Hernández" required>

                <label for="email">Confirma tu email:</label>
                <input type="email" id="email" name="email" placeholder="email@janesfakedomain.net" required>

                <label for="sintomas">Síntomas o Comentarios:</label>
                <textarea id="sintomas" name="sintomas" required></textarea>

                <button type="submit" id="accionar" disabled>Enviar</button>
            </form>
            <div class="contact-info">
                <ul>
                    <li><i class="fab fa-facebook"></i> Doctora Resendiz</li>
                    <li><i class="fab fa-instagram"></i> @ange_doc</li>
                    <li><i class="fas fa-phone"></i> 442 - 894 - 634</li>
                    <li><i class="fas fa-envelope"></i> resen_ange@gmail.com</li>
                    <li><i class="fas fa-map-marker-alt"></i> C. Bernardino del Razo 21, Ensueño, 76178 Santiago de Qro, Qro.</li>
                </ul>
            </div>
        </section>
        <aside>
            <img src="imagenes/draange.png" alt="Dra. Angelica" class="profile-pic">
        </aside>
    </main>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
    const menuIcon = document.getElementById('menu-icon');
    const navMenu = document.getElementById('nav-menu');

    menuIcon.addEventListener('click', () => {
        navMenu.classList.toggle('active');
    });
});
    </script>
</body>
</html>


