body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 80px;
    width: auto;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    color: #fff;
    background-color: #FFB9D0;
}

nav a i {
    margin-right: 8px;
}

.about {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.about h1 {
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

.about p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 30px;
    text-align: justify;
}

.illustration {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
    border-radius: 10px;
}

.goals {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.goal {
    height: 100px;
    width: auto;
    border-radius: 10px;
}

i {
    color: #76606C;
}

@media (max-width: 767px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    nav li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    h1 {
        text-align: center;
    }

    .about {
        margin: 10px;
        padding: 15px;
    }

    .goals {
        flex-direction: column;
        align-items: center;
    }

    .goal {
        width: 100%;
        max-width: 300px;
        margin-bottom: 10px;
    }
}
